@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap'); html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background: #efefef;
    text-align: justify;
    height: 100%;
}

body.dark-mode {
    background: #393849;
    color: white;
    box-shadow: 1px 3px;
}

button {
    background: #dad6db;
    border: 1px solid #393849;
    cursor: pointer;
    padding: 6px;
    font-weight: 500;
    box-shadow: 1px 3px;
    border-radius: 5px;
}

button:active {
    background: #dad6db;
    border: 1px solid #393849;
    cursor: pointer;
    padding: 6px;
    font-weight: 500;
    box-shadow: 1px 3px;
    border-radius: 5px;
}

button:focus {
    outline: none;
    box-shadow: 1px 3px;
}

#myPhoto {
    cursor: pointer;
}

#myPhoto.rotate {
    animation : myRotation 1s ease-in forwards;
}

@keyframes myRotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

#myPhoto.rotate2 {
    animation : myRotation2 1s ease-in forwards;
}

@keyframes myRotation2 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

button:hover {
    background: #9f9cd1
}

nav {
    max-width: 1024px;
    margin: auto;
}

nav ul {
    margin: 25px 0 0 0 ;
    float: right;
    /*display: inline-block;*/
}

nav ul li {
    display: inline-block;
    font-weight: bold;
    margin: 0 0 0 10px;
}

nav h1 {
    display: inline-block;
}

main {
    max-width: 1024px;
    margin: auto;
}

main img {
    max-width: 250px;
    border-radius : 10%;
}

.toggle-button:before {
    content: "Dark Mode"
}

.dark-mode .toggle-button:before {
    content: "Light Mode"
}

a {
    text-decoration: none;
    color: black;
}

.dark-mode a {
    color: white;
}

.column {
    display: inline-block;
}

.right-column {
    text-align: center;
    margin: 30px 0 0 0;
}

.project-title h3 {
    display: inline;
}

.project-image {
    width: 50%;
}

details {
    cursor: pointer;
}

#skills-container {
    font-size: 2.5em;
    width: 100%;
    display: inline;
    cursor: pointer;
}

.project {
    margin-top: 10px;
}

footer {
    text-align: center;
    margin: 190px 0 0 0 ;
}

@media only screen and (min-width: 600px) {
    .column {
        width: 49%;
    }

    .right-column {
        float: right;
    }
}

/*  title */
#title {
    cursor: pointer;
    animation: scroll 2s linear 1s infinite alternate;
}

@keyframes scroll {
    0% {
        transform: translatex(200px);
    }

    60% {
    }

    100% {
    }
}

#title:hover {
    animation-play-state: paused;
}

/* nav-button */
.nav-button {
    text-decoration: none;
    border: 1px solid darkgray;
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
    box-shadow: 1px 3px;
    border-radius: 5px;
    opacity: 0.8
}

.nav-button:active {
    text-decoration: none;
    border: 1px solid darkgray;
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
    box-shadow: 1px 3px;
    border-radius: 5px;
    opacity: 0.8
}

.nav-button:hover {
    background: #969b9d;
}

/* ----- */
/* #samples:hover {
    font-size: 22px;
}

#samples {
    text-decoration: underline;
} */
/* flex */
.container-flex {
    margin: 0 auto;
}

.spacer {
    max-width: 1200px;
    margin: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

#expertise {
    padding: 20px;
    margin: 0;
    text-align: left;
}

/* Grid */
.recipe {
    box-shadow: 1px 3px black;
    width: 200px;
    height: auto;
    border: 1px solid #393849;
    border-radius: 5px;
}

.mins {
    display: inline-block;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: left;
    position: relative;
    bottom: 5px;
    padding-left: 10px;
    height: auto;
}

.description {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.1px;
    text-align: left;
    padding: 10px 0px 10px 10px;
    border-top: 1px solid #cebbbb;
}

.grid {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(2, 450px);
    grid-gap: 30px;
    margin-top: 44px;
    grid-auto-rows: 500px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: row;
    padding-bottom: 30px;
}

.grid img {
    width: 100%;
    height: 200px;
}

.grid h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: left;
    color: #CBA83F;
    padding: 10px 10px 10px 10px;
}

/*forms*/
form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
    color: black;
}

form hr {
    width: 25%;
}

form h1 {
    text-align: center;
}

#burger {
    max-height: 30%;
}

#overlay {
    width: 80%;
    margin: 3% auto;
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
}

#logo {
    height: 100px;
    display: block;
    margin: auto;
}

.toppings label, .cheesy label {
    margin-right: 25px;
}

/* button */
/*Transition*/
.button {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    width: 180px;
    height: 50px;
    line-height: 48px;
    background-color: #34B3A0;
    color: #fff;
}

.button span, .button .icon {
    position: absolute;
    display: block;
    height: 100%;
    text-align: center;
}

.button span {
    width: 62%;
    left: 0px;
    /*     line-height: inherit; */
    font-size: 20px;
}

.button .icon {
    right: 0;
    width: 38%;
    padding-top: 0;
}

.button .icon .fa {
    font-size: 18px;
    vertical-align: middle;
}

.icon {
    width: 200px;
    background-color: #1A7B72;
}

.button:hover span {
    left: -62%;
}

.button:hover .icon {
    width: 100%;
}

.button:hover .icon .fa {
    font-size: 25px;
    padding-top: 0;
}

.button span, .button div, .button p {
    transition: all 1.2s ease-out 0.2s;
    font-family: 'Roboto', sans-serif;
    font-weight: 500
}

.fa {
    margin: 15px 0px 10px 0px;
}
