@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background: #efefef;
    text-align:justify;
    height: 100%;
}

body.dark-mode {
    background: #393849;
    color: white;
}

button {
    background: #7C78B3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 7px;
    font-weight: bold;
}

button:focus {
    outline: none;
}

#myPhoto {
    cursor: pointer;
}

#myPhoto.rotate {
    animation : myRotation 1s ease-in forwards;
}

@keyframes myRotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

#myPhoto.rotate2 {
    animation : myRotation2 1s ease-in forwards;
}

@keyframes myRotation2 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

button:hover {
    background: #9f9cd1
}

nav {
    max-width: 1024px;
    margin: auto;
}

nav ul {
    margin: 25px 0 0 0 ;
    padding: 0;
    float: right;
    /*display: inline-block;*/
}

nav ul li {
    display: inline-block;
    font-weight: bold;
    margin: 0 0 0 10px;
}

nav h1 {
    display: inline-block;
}

main {
    max-width: 1024px;
    margin: auto;
}

main img {
    max-width: 250px;
    border-radius : 10%;
}

.toggle-button:before {
    content: "Dark Mode"
}

.dark-mode .toggle-button:before {
    content: "Light Mode"
}

a {
    text-decoration: none;
    color: black;
}

.dark-mode a {
    color: white;
}

.column {
    display: inline-block;
}

.right-column {
    text-align: center;
    margin: 30px 0 0 0;
}

.project-title h3 {
    display: inline;
}

.project-image {
    width: 50%;
}

details {
    cursor: pointer;
}
#skills-container {
    font-size: 2.5em;
    width: 100%;
    display: inline;
    cursor: pointer;
       
}
.project {
    margin-top:10px;
}
footer {
    text-align:center;
    margin:190px 0 0 0 ;
}

@media only screen and (min-width: 600px) {
    .column {
        width: 49%;
    }

    .right-column {
        float: right;
    }
}
